{
  "env": {
    "test": {
      "plugins": [
        "typecheck"
      ]
    }
  },
  "plugins": [
    "lodash",
    "transform-flow-comments",
    "transform-runtime",
    "syntax-trailing-function-commas"
  ],
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ]
}
