{
  "env": {
    "test": {
      "plugins": [
        "typecheck"
      ]
    }
  },
  "plugins": [
    "lodash",
    "transform-flow-comments",
    "transform-runtime"
  ],
  "presets": [
    ["env", {
      "targets": {
        "ie": 9, // https://github.com/facebookincubator/create-react-app/blob/v1.0.10/packages/babel-preset-react-app/index.js#L102
      }
    }],
    "stage-0",
    "react"
  ]
}
