{
  "extends": "react-app",
  "rules": {
    // Possible Errors
    "comma-dangle": ["error", "always-multiline"],
    // Stylistic Issues
    "jsx-quotes": ["error", "prefer-double"],
    "quotes": ["error", "backtick"]
  }
}
