{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "classes": true,
    "modules": true,
    "jsx": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    // Possible Errors
    "comma-dangle": [2, "always-multiline"],
    // Best Practices
    "consistent-return": [0],
    "no-else-return": [0],
    "yoda": [2, "always"],
    // Variables
    "no-use-before-define": [2, "nofunc"],
    "no-unused-vars": [1],
    // Stylistic Issues
    "camelcase": [0],
    "no-underscore-dangle": [0],
    "quotes": [2, "backtick"],
    // React extensions
    "react/sort-comp": [1],
    "react/prop-types": [1],
  },
  "globals": {
    "google": true,
  }
}
