{
  "env": {
    "test": {
      "plugins": [
        "typecheck"
      ],
    },
  },
  "plugins": [
    "transform-flow-comments",
    "transform-runtime"
  ],
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ]
}
