@import url("https://fonts.googleapis.com/css?family=Lato:400,900");

@import url("https://cdn.jsdelivr.net/prism/1.4.1/themes/prism.css");
@import url("https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/animatecss/3.5.1/animate.min.css");
@import url("https://cdn.jsdelivr.net/toastr/2.1.2/toastr.min.css");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body, #root, .full-height {
  height: 100%;
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

