<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base data-reacthtmlpack-inject-props="server.head.base" data-reacthtmlpack-inject-method="replaceWith">
    <title data-reacthtmlpack-inject-props="server.head.title" data-reacthtmlpack-inject-method="replaceWith"></title>
    <meta  data-reacthtmlpack-inject-props="server.head.meta" data-reacthtmlpack-inject-method="replaceWith">

    <link rel="stylesheet" data-reacthtmlpack-extract-text-from-module-name="./client.js">

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry,drawing,places"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/prism/1.4.1/
prism.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/prism/1.4.1/
components/prism-jsx.min.js"></script>
    <script data-reacthtmlpack-module-name="./server.js" data-reacthtmlpack-entry-target="node" data-reacthtmlpack-provide-props="server">
      import {
        default as React,
      } from "react";

      import {
        default as ReactDOMServer,
      } from "react-dom/server";

      import {
        match,
        RouterContext,
      } from "react-router";

      import {
        default as Helmet,
      } from "react-helmet";

      import {
        default as routes,
      } from "./routes";

      export default ({ location }, contentReady: (error: any, injectProps: any) => void) => {
        match({ routes, location, }, (error, redirectLocation, renderProps) => {
          if (renderProps) {
            const innerHTML = ReactDOMServer.renderToString(<RouterContext {...renderProps} />);

            contentReady(null, {
              innerHTML,
              head: Helmet.rewind(),
            });
          } else {
            reject(error || redirectLocation || `Not found`);
          }
        });
      };
    </script>
  </head>
  <body>
    <div id="react-container" data-reacthtmlpack-inject-props="server.innerHTML">
      <!-- The innerHTML of this node will be the arguments passed to contentReady() -->
      <!-- with key "innerHTML" under provide-props="server" -->
    </div>

    <script data-reacthtmlpack-module-name="./client.js" data-reacthtmlpack-entry-target="web">
      import {
        default as React,
      } from "react";

      import {
        default as ReactDOM,
      } from "react-dom";

      import {
        Router,
        hashHistory,
      } from "react-router";

      import {
        default as routes,
      } from "./routes";
      /*
       *
       * Add script src="https://maps.googleapis.com/maps/api/js" to your HTML to provide google.maps reference
       */
      ReactDOM.render((
        <Router
          history={hashHistory}
          routes={routes}
        />
      ), document.getElementById(`react-container`));
    </script>
  </body>
</html>
